<p id="notice"><%= notice %></p>

<%= render 'header' %>

<table>
  <thead>
    <tr>
      <th>つぶやき</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whispers.each do |whisper| %>
      <tr>
        <td class="content"><%= whisper.content %></td>
        <td><%= link_to 'つぶやき', whisper %></td>
        <td><%= link_to '編集', edit_whisper_path(whisper) %></td>
        <td><%= link_to '削除', whisper, method: :delete, data: { confirm: '削除してもいいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'つぶやく', new_whisper_path %>

<%= render 'footer' %>
