<p id="notice"><%= notice %></p>

<h1>Whispers</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @whispers.each do |whisper| %>
    <% if @whisper.errors.any? %>
      <div id="error_explanation">
        <h2><%= @whisper.errors.count %>件のエラーがあります。</h2>
        <ul>

        <% @whisper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
              </ul>
      </div>
     <% end %>
      <tr>
        <td><%= whisper.content %></td>
        <td><%= link_to 'Show', whisper %></td>
        <td><%= link_to 'Edit', edit_whisper_path(whisper) %></td>
        <td><%= link_to 'Destroy', whisper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whisper', new_whisper_path %>
