<p id="notice"><%= notice %></p>

<%= render 'header' %>

<p>
  <strong>内容:</strong>
  <%= @whisper.content %>
</p>

<%= link_to '編集', edit_whisper_path(@whisper) %> |
<%= link_to '戻る', whispers_path %>

<%= render 'footer' %>